.startButton{
  margin-top: 30px;
}

.title, .menuButtons{
  font-size: 5em !important;
}

.subtitle{
  font-size: 2em !important;
}

.menuButtons:hover{
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline ;
}

.menuButtons{
  color: #7494be;
}