body {
  --white: #fafafa;
  --gray: #c0c0c0;
  --black: #000000;
  --ash-black: #222;
  --orange: #f44611;
  --gray-glass: rgba(192, 192, 192, 0.5);
  --ash-black-glass: rgba(34, 34, 34, 0.5);

  --accent: var(--orange);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}

h1, h2, h3{
  color: var(--ash-black);
}

*{
  font-family: 'open sans', sans-serif;
}

h1{
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

h2{
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

h3{
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: transparent;
}